ul{
    background-color: rgb(207, 66, 30);
    padding: 20px;
    color: white;
    text-decoration: solid;
    list-style: none;
    display: flex;
    justify-content: space-around ;
    cursor: pointer;;
}