
<div class="heading">
  <h1>WELCOME!!!!</h1>
  <hr>
  <h2>INDIAN TOURISM</h2>
</div>
<app-carousel></app-carousel>
<hr>
<div class="description">
  <p>
    Indian tourism is a vibrant tapestry of culture, heritage, and natural beauty, attracting millions of visitors from around the globe. With its rich history, diverse landscapes, and spiritual essence, India offers something for everyone. From the iconic Taj Mahal and the bustling streets of Delhi to the serene backwaters of Kerala and the majestic Himalayan ranges, the country is a treasure trove of experiences. Visitors can explore ancient temples, vibrant festivals, delicious cuisine, and the warm hospitality of its people. India truly promises a journey of discovery and wonder at every step.
  </p>
</div>
<hr>
<!-- <div>Some tags before</div> -->
 <!-- <owl-carousel-o [options]="customOptions"> -->

  <!-- <ng-container *ngFor="let slide of slidesStore"> -->
    <!-- <ng-template carouselSlide [id]="slide.id"> -->
      <!-- <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title"> -->
    <!-- </ng-template> -->
  <!-- </ng-container> -->

<!-- </owl-carousel-o> -->
<!-- <div>Some tags after</div> -->